<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxazor.oracle.apps.per.documents.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="AprovadoresInfoVO"
      FullName="xxazor.oracle.apps.per.documents.server.AprovadoresInfoVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DocumentsAM"
      FullName="xxazor.oracle.apps.per.documents.server.DocumentsAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="DocumentTypesVO"
      FullName="xxazor.oracle.apps.per.documents.server.DocumentTypesVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PerDocsVO"
      FullName="xxazor.oracle.apps.per.documents.server.PerDocsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UsersInfoVO"
      FullName="xxazor.oracle.apps.per.documents.server.UsersInfoVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
